<div class="col-md-12"> 
        <em>Add Headers:</em>
        <div class="row">
            
                <div data-ng-repeat="choice in choices">
                    <div class="row">
                        <div class="col-md-2">
                            <select class="form-control">
                                <option>Authentication</option>
                                <option>Data-Type</option>
                                <option>JSON/URL-Encoded</option>
                            </select>
                        </div>

                        <div class="col-md-8">
                            <input type="text" ng-model="choice.name" name="" placeholder="Enter header data" class="form-control" />

                        </div>
                        <span class="glyphicon glyphicon-minus" ng-click="removeChoice()"></span>
                        
                    </div>
                    <br />
                    </div>
            </div>
    <br />
        <span class="glyphicon glyphicon-plus" ng-click="addNewChoice()"><strong>  Add Header</strong></span>
</div>