<div class="col-md-12"> 
        <div class="row">            
                <div data-ng-repeat="choice in vm.choices">
                    <div class="row">
                        <div class="col-md-2">
                            <select class="form-control input-sm clddl" ng-model="vm.choices[$index].headerText">
                                <option>Authentication</option>
                                <option>Data-Type</option>
                                <option>JSON/URL-Encoded</option>
                            </select>
                        </div>

                        <div class="col-md-9">
                            <input type="text"  name="" placeholder="Enter header data" class="form-control input-sm" ng-model="vm.choices[$index].headerValue"/>

                        </div>
                        <span class="glyphicon glyphicon-remove clremove" ng-click="vm.removeChoice()"></span>                        
                    </div>
                    </div>
            </div>
    <div class="col-md-1 clplusdiv">
        <span class="glyphicon glyphicon-plus clplus" ng-click="vm.addNewChoice()"><strong class="UrlTxt">Header</strong></span>
    </div>
</div>